<h1 class='center'> <%= @representative.name %> - Congressional District <%= @representative.district %></h1>

<div class="all_cards">
  <div class="card">
    <%= image_tag src="https://raw.githubusercontent.com/unitedstates/images/gh-pages/congress/450x550/#{@representative.bioguide_id}.jpg", class: 'image'  %>
    <h1><%= @representative.name %></h1>
    <h2><%= @representative.party %></h2>
    <div class="contact-info">
      <div class='contact-details'><i class="fab fa-facebook-f"></i> <%= link_to "facebook.com/#{@representative.facebook}", "http://www.facebook.com/#{@representative.facebook}"%></div>
      <div class='contact-details'><i class="fab fa-twitter"></i> <%= link_to "@#{@representative.twitter}", "http://www.twitter.com/#{@representative.twitter}"%></div>
      <div class='contact-details'><i class="fas fa-external-link-alt"></i> <%= link_to "#{@representative.name}", "#{@representative.website}"%></div>
    </div>
  </div>

  <div class='card'>
    <h1>Voted with <%= @representative.party %>s on <b>80%</b> of Bills</h1>
    <div class="sub-card">
      <h2>Broke Party Lines on These Issues:</h2>
        <ul>
          <li> Guns (3 Bills) </li>
          <li> Climate (2 Bills) </li>
          <li> Taxation (1 Bills) </li>
        </ul>
    </div>
    <div class='sub-card'>
      <h2>Tweets</h2>
    </div>
  </div>

  <div class='card'>
    <h1>Votes</h1>
    <div class='sub-card'>
      <table>
        <tr>
          <th><button>Democrat</button></th>
          <th><button>Republican</button></th>
          <th align="left"><div class="dropdown">
              <button>Category</button>
              <div class="dropdown-content">
                <a href="#">Guns</a>
                <a href="#">Climate</a>
                <a href="#">Taxation</a>
              </div>
            </div>
          </th>
          <th>
            <div class="dropdown">
              <button>Year</button>
              <div class="dropdown-content">
                <a href="#">2017</a>
                <a href="#">2016</a>
                <a href="#">2015</a>
                <a href="#">2014</a>
                <a href="#">2013</a>
                <a href="#">2012</a>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <td align='center'><i class="far fa-square fa-lg"></i></td>
          <td  align='center'><i class="far fa-check-square fa-lg"></i></td>
          <td><a href='https://www.govtrack.us/congress/bills/115/hr315/summary'>HR 315: Improving Access to Maternity Care Act</td>
          <td align='center'>2017</td>
        </tr>
      </table>
    </div>
  </div>

</div>
