<h1 class='center'> <%= @representative.name %> - Congressional District <%= @representative.district %></h1>
<% if current_user && current_user.representatives.include?(@representative) %>
<%= link_to "<i class='fas fa-heart'></i>".html_safe, representative_path(@representative), method: 'put', title: 'Remove from Favorites' %>
<% elsif current_user %>
  <h2 class='center'> <%= link_to 'Save to Favorites', user_favorites_path(current_user, representative_id: @representative.id), method: 'post' %></h2>
<% end %>

<div class="all_cards">
  <div class="card">
    <%= image_tag src="https://raw.githubusercontent.com/unitedstates/images/gh-pages/congress/450x550/#{@representative.bioguide_id}.jpg", class: 'image'  %>
  </br>
    <h1><%= @representative.name %></h1>
    <h2><%= @representative.party %></h2>
    <div class="contact-info">
      <p class='contact-details'><i class="fab fa-facebook-f"></i> <%= link_to "facebook.com/#{@representative.facebook}", "http://www.facebook.com/#{@representative.facebook}"%></p>
      <p class='contact-details'><i class="fab fa-twitter"></i> <%= link_to "@#{@representative.twitter}", "http://www.twitter.com/#{@representative.twitter}"%></p>
      <p class='contact-details'><i class="fas fa-external-link-alt"></i> <%= link_to "#{@representative.name}", "#{@representative.website}"%></p>
    </div>
  </div>

  <div class='card'>
    <h1>Voted with <%= @representative.party %>s on <b><%=@representative.party_percent%>%</b> of Bills</h1>
    <div class="sub-card" id='summary'>
      <h2>Broke Party Lines on These Issues:</h2>
        <ul>
          <% @representative.bills_against_categories.each do |category| %>
          <li><%= link_to category.name, "/representatives/#{@representative.district}?category=#{category.name}" %></li>
          <% end %>
        </ul>
    </div>
    <div class='sub-card' id='tweets'>
      <a class="twitter-timeline" data-height="500" data-theme="dark" href="https://twitter.com/<%=@representative.twitter%>">Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://twitter.com/intent/tweet?screen_name=<%=@representative.twitter%>" class="twitter-mention-button" data-size="large" data-show-count="false">Tweet Your Representative!</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <div class='card'>
    <h1>Votes</h1>
    <div class='sub-card'  id='votes'>
      <table>
        <tr>
          <th><button>Democrat</button></th>
          <th><button>Republican</button></th>
          <th align="left"><div class="dropdown">
              <button>Category</button>
              <div class="dropdown-content">
                <%= link_to 'All', "/representatives/#{@representative.district}" %>
                <% @categories.each do |category| %>
                  <%= link_to category.name, "/representatives/#{@representative.district}?category=#{category.name}" %>
                <% end %>
              </div>
            </div>
          </th>
          <th></th>
          <th>
            <div class="dropdown">
              <button>Month</button>
              <div class="dropdown-content">
                <a href="#">01</a>
                <a href="#">02</a>
                <a href="#">03</a>
                <a href="#">04</a>
                <a href="#">05</a>
                <a href="#">06</a>
                <a href="#">07</a>
                <a href="#">08</a>
                <a href="#">09</a>
                <a href="#">10</a>
                <a href="#">11</a>
                <a href="#">12</a>
              </div>
            </div>
          </th>
          <th>
            <div class="dropdown">
              <button>Year</button>
              <div class="dropdown-content">
                <a href="#">2017</a>
              </div>
            </div>
          </th>
        </tr>
        <% @bills.each do |bill| %>
        <tr id=<%=bill.bill_id%>>
          <%if @rep_votes.find_by(bill_id: bill.id).vote_with == 'Dem' %>
              <td align='center'><i class="far fa-check-square fa-3x dem"></i></td>
              <td align='center'></td>
            <% elsif @rep_votes.find_by(bill_id: bill.id).vote_with == 'Rep' %>
              <td align='center'></td>
              <td align='center'><i class="far fa-check-square fa-3x rep"></i></td>
            <% else %>
              <td align='center'></td>
              <td align='center'></td>
            <% end %>
            <td> <%= bill.category.name %> </td>
            <td><a href="https://www.govtrack.us/congress/bills/115/<%=bill.bill_id.chomp('-115')%>/summary"> <%= bill.bill_id.chomp('-115') %>: <%= bill.name %> </td>
            <td align='center'>01</td>
            <td align='center'>2017</td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>
