<% cache "#{@representative.name}-#{@representative.updated_at}"  do %>
  <div class="card">
    <%= link_to image_tag(src="https://raw.githubusercontent.com/unitedstates/images/gh-pages/congress/450x550/#{@representative.bioguide_id}.jpg", class: 'image'), "/representatives/#{@representative.district}"  %>
  </br>
    <h1><%= @representative.name %></h1>
    <h2><%= @representative.party %></h2>
    <div class="contact-info">
      <% if @representative.facebook.nil? %>
        <p class='contact-details'><i class="fab fa-facebook-f"></i> N/A</p>
      <% else %>
        <p class='contact-details'><i class="fab fa-facebook-f"></i> <%= link_to "facebook.com/#{@representative.facebook}", "http://www.facebook.com/#{@representative.facebook}"%></p>
      <% end %>
      <p class='contact-details'><i class="fab fa-twitter"></i> <%= link_to "@#{@representative.twitter}", "http://www.twitter.com/#{@representative.twitter}"%></p>
      <p class='contact-details'><i class="fas fa-external-link-alt"></i> <%= link_to "#{@representative.name}", "#{@representative.website}"%></p>
    </div>
  </div>
<% end %>
