<% cache "#{@representative.name}-#{@representative.updated_at}"  do %>
  <div class="card" id='contact'>
    <%= link_to image_tag(src="https://raw.githubusercontent.com/unitedstates/images/gh-pages/congress/450x550/#{@representative.bioguide_id}.jpg", class: 'image'), "/representatives/#{@representative.district}"  %>
  </br>
    <h1><%= @representative.name %><%= render partial: 'partials/favorite'  %></h1>
    <h2><%= @representative.party %></h2>
    <div class="contact-info">
      <% if @representative.facebook.nil? %>
        <p class='contact-details'><i class="fab fa-facebook-f"></i> N/A
      <% else %>
        <p class='contact-details'><i class="fab fa-facebook-f dem"></i> <%= link_to "Facebook", "http://www.facebook.com/#{@representative.facebook}"%>
      <% end %>
      <i class="fas fa-external-link-alt dem"></i> <%= link_to "#{@representative.name}", "#{@representative.website}"%></p>
    </div>
    <%= render partial: 'partials/twitter' %>
  </div>
<% end %>
