<nav>
  <%=link_to image_tag('logo.png'), root_path, class: 'logo'%>
  <div class='menu'>
      <%= link_to 'House', representatives_path, class: 'nav-link'  %>
      <p class='nav-link'>|</p>
      <% if current_user %>
        Hello, <%= current_user.name %>
        <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
      <% else %>
        <%= link_to 'Sign in with Twitter', twitter_login_path, class: 'nav-link' %>
      <% end %>
  </div>
</nav>
