<% cache 'vote-headers' do %>
    <div class='sub-card'  id='votes'>
      <table>
        <tr>
          <th><button>Dem</button></th>
          <th><button>Rep</button></th>
          <th align="left"><div class="dropdown">
              <button>Category</button>
              <div class="dropdown-content">
                <%= link_to 'All', "/representatives/#{@representative.district}" %>
                <% @categories.each do |category| %>
                  <%= link_to category.name, "/representatives/#{@representative.district}?category=#{category.name}" %>
                <% end %>
              </div>
            </div>
          </th>
          <th></th>
          <th>
            <div class="dropdown">
              <button>Month</button>
              <div class="dropdown-content">
                <% (1..12).each do |i| %>
                  <%= link_to "#{integer_to_month(i)}", "/representatives/#{@representative.district}?month=#{i}" %>
                <% end %>
              </div>
            </div>
          </th>
          <th>
            <div class="dropdown">
              <button>Year</button>
              <div class="dropdown-content">
                <a href="#">2017</a>
              </div>
            </div>
          </th>
        </tr>
<% end %>
      <% @bills_and_votes.each do |bill, vote| %>
      <tr id=<%=bill.bill_id%>>
        <%if vote == 'Democrat' %>
            <td align='center'><i class="far fa-check-square fa-3x dem"></i></td>
            <td align='center'></td>
          <% elsif vote == 'Republican' %>
            <td align='center'></td>
            <td align='center'><i class="far fa-check-square fa-3x rep"></i></td>
          <% else %>
            <td align='center'></td>
            <td align='center'></td>
          <% end %>
          <td> <%= bill.category.name %> </td>
          <td><a href="https://www.govtrack.us/congress/bills/115/<%=bill.bill_id.chomp('-115')%>/summary"> <%= bill.bill_id.chomp('-115').upcase %>: <%= truncate(bill.name,length: 50) %> </td>
          <td align='center'> <%= integer_to_month(bill.month) %> </td>
          <td align='center'>2017</td>
      </tr>
      <% end %>
    </table>
  </div>
